* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clr {
  clear: both;
}
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(55, 60, 66, 0.6);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#backToTopBtn:hover {
  background-color: #e6eaee;
  color: #efbb20;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-box {
  width: 200px;
}
.img-box img {
  width: 100%;
}
/* navbar */
.navbar {
  background-color: #2c353d;
}
.nav-item {
  padding: 0 15px;
}
.nav-item a {
  color: white;
}
.brdr {
  width: 1px;
  height: 40px;
  background-color: #282f35;
}
.search i {
  color: white;
  margin: 0 40px !important;
}

/* footer */
.end {
  background-color: #2c353d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.info {
  height: auto;
  
  color: #fff;
  width: 20%;
}
.info h4 {
  border-top: #e6eaee 1px solid;
  border-bottom: #e6eaee 1px solid;
  padding: 8px 0;
}
.info .pa {
  font-size: 18px;
  padding: 10px 0 30px 0;
}
.icon4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon4 i {
  font-size: 35px;
}
.icon4 a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.icon4 a:hover {
  color: #efbb20;
}
.info .img-box4 {
  width: 50px;
  height: 50px;
  border: #454e57 solid 5px;
}
.img-box4 img {
  width: 100%;
  height: 100%;
  image-resolution: inherit;
}
.end-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.min-footer {
  background-color: #5b646b;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.one a {
  color: #fff;
  text-decoration: none;
}
.one a:hover {
  color: #efbb20;
}
.two a {
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
}
.two a:hover {
  color: #efbb20;
}
/* map */
.map {
  width: 100%;
}

/*col-md-4  */
.addrss {
  position: relative;
}
.addrss h3 {
  font-size: 25px;
  font-weight: 400;
  margin: 40px 0;
}
.addrss .line {
  width: 70px;
  height: 3px;
  background-color: #efbb20;
  position: absolute;
  top: 48px;
  left: 0;
}
.addrss p {
  font-size: 17px;
  font-weight: 600;
  color: #5b646b;
}
.addrss .line2 {
  width: 70px;
  height: 3px;
  background-color: #efbb20;
  position: absolute;
  top: 170px;
  left: 0;
}
.loca h5 {
  color: #efbb20;
}
.loca p {
  font-size: 17px;
  font-weight: 600;
  color: #5b646b;
}

/* col-md-8 */
.form-title h3 {
  font-size: 25px;
  font-weight: 400;
  margin: 40px 0;
  position: relative;
}
.form-title h3::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #efbb20;
  position: absolute;
  left: 0px;
  top: 47px;
}

/* form */
.group input {
  width: 90%;
  height: 50px;
  margin: 15px 0;
  border-radius: 4px;
  background-color: #f8f8f8;
  border: 1px solid rgb(91, 100, 107, 0.4);
}
/* .group input:active {
    border: none !important;
} */
.group select {
  width: 90%;
  height: 50px;
  margin: 15px 0;
  border-radius: 4px;
  background-color: #f8f8f8;
  border: 1px solid rgb(91, 100, 107, 0.4);
}
.group label {
  color: #5b646b;
  font-size: 17px;
  font-weight: 700px;
}
.formGroups textarea {
  width: 95%;
  height: 230px;
  margin: 15px 0;
  border-radius: 4px;
  background-color: #f8f8f8;
  border: 1px solid rgb(91, 100, 107, 0.4);
}
.formGroups label {
  color: #5b646b;
  font-size: 17px;
  font-weight: 700px;
}
.formGroups span {
  color: #efbb20;
  margin-bottom: 3px;
  margin-left: 3px;
  font-size: 20px;
}
.first-form {
  float: left;
  width: 50%;
}
.sacend-form {
  float: right;
  width: 50%;
}
.formGroups .btn {
  width: 140px;
  height: 60px;
  background-color: #efbb20;
  border: none;
  color: #fff;
  padding: 8px;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 1px 1px #454e57;
  border-radius: 2px;
}
